
<!-- t.integer :age, null: false
t.date :birth_date, null: false
t.string :color, null: false
t.string :name, null: false
t.string :sex, null: false -->

Cat's age: <%= "#{cat.age}" %>

<%= url =
  if cat.id.nil?
    "/cats"
  else
    "/cats/#{cat.id}"
  end %>
<form action="<%= "#{url}" %>" method="post">

  <% unless cat.id.nil? %>
<input type="hidden" name="_method" value="PUT">
<% end %>
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]">
  <br>
  <label for="cat_age">Age</label>
  <input type="text" name="cat[age]">
<br>
  <label for="cat_birth_date">Birth date (enter as January 9, 1989):</label>
  <input type="date" name="cat[birth_date]">
<br>
Sex<br>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
  <label for="cat_sex_female">Female</label><br>
<br>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
  <label for="cat_sex_male">Male</label>
<br>
  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
    <option> </option>
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="purple">Purple</option>
  </select>
  <br>

  <input type="submit" value="Create cat">
</form>