<table>
  <th>Cat - <%= "#{@cat.name}" %></th>
  <tr><td>Age</td><td><%= "#{@cat.age}" %></td></tr>
    <tr><td>Color</td><td><%= "#{@cat.color}" %></td></tr>
    <tr><td>Birth date</td><td><%= "#{@cat.birth_date}" %></td></tr>
    <tr><td>Sex</td><td><%= "#{@cat.sex}" %></td></tr>
</table>